<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a id="home" href="/home">Home</a></li>
  <li><a id="history" href="/history">History</a></li>
  <li><a id="logout">Logout</a></li>
</ul>
<nav>

  <div class="nav-wrapper">
    <div class="row">

      <div class="col s3 m4 l4">
        <a href="/home" class="brand-logo left" id="title">MemoryBank</a>
      </div>

      {{!-- <div class="col s4">
        <h2 id="title">Memorybank</h2>
      </div> --}}

      <div class="col s7 m4 l4">
        <nav>
          <div class="nav-wrapper">
            <form id="searchBar" action="/history">
              <div class="input-field">
                <input id="search" type="search" placeholder="Search to find others" required>
                <label class="label-icon" for="search">
                  <i class="material-icons" id="searchIcon">search</i></label>
                <i class="material-icons" id="closeButton">close</i>

              </div>
            </form>
          </div>
        </nav>
      </div>

      {{!-- Able to add a redirect to the search button, but not a function --}}
      {{!-- How do we want the search function to work? Should it be able to find people based off of both
      username and actual name? Should there be a "find friends" area? How would we decide which users to
      recommend if we did that? --}}

      <div class="col s2 m4 l4">
        <ul class="right">

          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-trigger" href="/home" data-target="dropdown1">
              <i class="material-icons right">dehaze</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container" id="historyContainer">
  <h1 id="history-header">History Page</h1>
  <!-- #each to create new row and column displaying date -->




  {{#each histories}}

  <div class="row card-row {{id}}">

    <div class="col s12 m12 l12">
      <div class="card-div">
        <div class="card small" id="card-{{id}}">
          <div class="card-image">
            <img src={{memory_image}}>
          </div>
          <div class="card-content">
            <p>{{createdAt}}</p>
            <p>{{user_datum.sign}}</p>
            <p>Horoscope:
              <br>{{description}}
            </p>
            <hr>
            <div class="history-entry">
              <p class="p-entry">Entry:
                <br>
                {{journal_entry}}
              </p>
            </div>
          </div>


          <div class="card-action">
            <div class="row button-row">
              <div class="col s9 m11 l11">
                <a class="viewLess" id="historyViewBtn" data-id={{id}} href="#">View More</a>
              </div>

              <div class="col s3 m1 l1">
                <a class="waves-effect waves-light btn clear-btn"><i class="material-icons left" id="delete-button"
                    data-id={{id}}>clear</i></a>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>