<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a id="history" href="/history">History</a></li>
  <li><a id="feed" href="#!">Feed</a></li>
  <li><a id="signout" href="/">Logout</a></li>
</ul>
<nav>

  <div class="nav-wrapper">
    <div class="row">

      <div class="col s4">
        <a href="/home" class="brand-logo" id="title">MemoryBank</a>
      </div>

      {{!-- <div class="col s4">
        <h2 id="title">Memorybank</h2>
      </div> --}}

      <div class="col s4">
        <nav>
          <div class="nav-wrapper">
            <form id="searchBar">
              <div class="input-field">
                <input id="search" type="search" placeholder="Search to find others" required>
                <label class="label-icon" for="search">
                  <a href="/test"><i class="material-icons" id="searchIcon">search</i></a></label>
                <i class="material-icons" id="closeButton">close</i>

              </div>
            </form>
          </div>
        </nav>
      </div>

      <div class="col s4">
        <ul class="right hide-on-med-and-down">

          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-trigger" href="/home" data-target="dropdown1">
              <i class="material-icons right">dehaze</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container historyContainer" id="historyContainer">
  <h1 id="history-header">History Page</h1>
  <!-- #each to create new row and column displaying date -->


  <div class="row card-row">
    <div class="col s12">
      <div class="card-div">

        {{#each histories}}
        <div class="card small">
          <div class="card-image">
            <img src={{memory_image}}>
            <span class="card-title">{{createdAt}}</span>
          </div>
          <div class="card-content">
            <p>{{user_datum.first_name}}</p>
            <p>Horoscope:
              <br>{{description}}
            </p>
            <hr>
            <p>Entry:
              <br>
              {{journal_entry}}
            </p>
          </div>
          <div class="card-action">
            <a class="viewMore" id="viewMore" href="#">View More</a>
            <a class="viewLess hide" id="viewLess" href="#">View Less</a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>



  </div>
</div>
</div>

</div>