<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a id="home" href="/home">Home</a></li>
  <li><a id="history" href="/history">History</a></li>
  <li><a id="feed" href="#!">Feed</a></li>
  <li><a id="logout">Logout</a></li>
</ul>
<nav>

  <div class="nav-wrapper">
    <div class="row">

      <div class="col s3 m4 l4">
        <a href="/home" class="brand-logo left" id="title">MemoryBank</a>
      </div>

      {{!-- <div class="col s4">
        <h2 id="title">Memorybank</h2>
      </div> --}}

      <div class="col s7 m4 l4">
        <nav>
          <div class="nav-wrapper">
            <form id="searchBar" action="/history">
              <div class="input-field">
                <input id="search" type="search" placeholder="Search to find others" required>
                <label class="label-icon" for="search">
                  <i class="material-icons" id="searchIcon">search</i></label>
                <i class="material-icons" id="closeButton">close</i>

              </div>
            </form>
          </div>
        </nav>
      </div>

      {{!-- Able to add a redirect to the search button, but not a function --}}
      {{!-- How do we want the search function to work? Should it be able to find people based off of both
      username and actual name? Should there be a "find friends" area? How would we decide which users to
      recommend if we did that? --}}

      <div class="col s2 m4 l4">
        <ul class="right">

          <!-- Dropdown Trigger -->
          <li>
            <a class="dropdown-trigger" href="/home" data-target="dropdown1">
              <i class="material-icons right">dehaze</i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container historyContainer" id="historyContainer">
  <h1 id="history-header">Results</h1>
  <!-- #each to create new row and column displaying date -->


  <div class="row card-row" id="follow-card-row">
    <div class="col s12">
      <div class="card-div" id="follow-card-div">


        {{#each data}}
        <div class="card follow-card">
          <div class="card-content">
            <p>{{first_name}} {{last_name}}</p>
            <hr>
            <p>Sign: {{sign}}</p>
            <hr>
            <a class="waves-effect waves-light btn follow-button" id="follow" data-id={{id}}>Follow</a>
            <a class="waves-effect waves-light btn follow-button" id="unfollow" data-id={{id}}>Unfollow</a>
          </div>
        </div>
        {{/each}}


      </div>
    </div>


  </div>
</div>
</div>

</div>